@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .grid-bg {
    background-image: 
      linear-gradient(to right, rgba(0, 42, 91, 0.5) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 42, 91, 0.5) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}
